{% extends 'common/base.html' %}

{% block title %}About{% endblock %}

{% block main %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt=""
             width="72" height="57">
        <h1 class="display-5 fw-bold">About page</h1>
        <div class="col-lg-6 mx-auto my-4">
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur cumque
                deleniti dignissimos eos facilis harum illum ipsa iste magni, nemo nulla perspiciatis quidem recusandae
                rem repellat unde velit voluptate!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'homepage' %}" type="button" class="btn btn-primary btn-lg px-4 gap-3">To main page</a>
            </div>
        </div>
    </div>
{% endblock %}