{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Products{% endblock %}
{% block main %}

    <main>

        <section class="container">
            <div class="row py-lg-5 ">
                <div class="col-lg-6 col-md-6 mx-auto mb-3">
                    <h4 class="text-muted">{% block action %}Action{% endblock %}:</h4>
                    <h1 class="fw-light">{% block object_name %}{% endblock %}</h1>
                </div>
                <p class="col-6 text-end">
                    {% block buttons %}
                    {% endblock %}
                    <a href="{% url 'homepage' %}" class="btn btn-secondary my-2">To main page</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col-12">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="{% block action_button_text %}Submit{% endblock %}"
                                   class="btn btn-primary">
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </main>
{% endblock %}