{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block header %}{% endblock %}

{% block main %}
    <div class="text-center body">

        <main class="form-sign-in">
            <form method="post">
                <img class="mb-4" src="https://ps.w.org/login-customizer/assets/icon-256x256.png?rev=2455454" alt=""
                     height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                {% csrf_token %}
                {{ form|crispy }}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </main>

        <style>
            html,
            .body {
                height: 100%;
                background-color: #f5f5f5;
            }

            .body {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .form-sign-in {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: auto;
            }

            .form-sign-in .checkbox {
                font-weight: 400;
            }

            .form-sign-in .form-floating:focus-within {
                z-index: 2;
            }

            .form-sign-in input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-sign-in input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
    </div>
{% endblock %}