{% extends 'common/base_list.html' %}
{% block title %}Posts{% endblock %}
{% block object_name %}Posts{% endblock %}
{% block create_new_button %}
    <a href="{% url 'post-create' %}" class="btn btn-primary my-2">Add new post</a>
{% endblock %}
{% block items %}
    {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>{{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ object.text|truncatewords:20 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'post-detail' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            {% if request.user == object.author %}
                                <a href="{% url 'post-update' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Edit
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        {% if request.GET.search %}
            <p class="text-center w-100 py-4 text-muted">No results for search request</p>
        {% else %}
            <p class="text-center w-100 py-4 text-muted">No products added yet...</p>
        {% endif %}
    {% endfor %}
{% endblock %}