{% extends 'common/base_detail.html' %}

{% block title %}Products{% endblock %}
{% block name %}{{ object.title }}{% endblock %}
{% block additional_buttons %}
    {% if request.user == object.author %}
        <a href="{% url 'post-update' object.pk %}" class="btn btn-primary my-2">Edit</a>
    {% endif %}
{% endblock %}
{% block detail_content %}
    <div class="col-12">
        {{ object.text }}
    </div>
    <div class="col-12 text-muted">
        Posted by {{ object.author }} at {{ object.posted_at }}
    </div>
{% endblock %}