{% extends 'common/base_detail.html' %}

{% block title %}Products{% endblock %}
{% block name %}{{ object.name }}{% endblock %}
{% block additional_buttons %}
    {% if request.user == object.creator %}
        <a href="{% url 'product-edit' object.pk %}" class="btn btn-primary my-2">Edit</a>
    {% endif %}
{% endblock %}
{% block detail_content %}
    <div class="col-12">
        <h2>Description</h2>
    </div>
    <div class="col-12">
        {{ object.description }}
    </div>
    <div class="col-12">
        <p class="fw-bold">Price: ${{ object.price_in_dollars }}</p>
    </div>
    {% if request.user.is_staff %}
        <div class="col-12 text-muted">
            Creator: {{ object.creator }}
        </div>
    {% endif %}
{% endblock %}